<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>

    <script src="${request.contextPath}/static/js/jquery-1.11.1.min.js"></script>
    <link href="${request.contextPath}/static/css/style.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        .pageDetail {
            display: none;
        }

        .show {
            display: table-row;
        }
    </style>
    <script>
        $(function () {
            $('#list').click(function () {
                $('.pageDetail').toggleClass('show');
            });
        });

    </script>
</head>
<body>
<table class="gridtable" style="width:100%;">
    <thead>
    <tr>
        <th colspan="4">查询结果 - [<a href="#">新增国家(地区)</a>]</th>
    </tr>
    <tr>
        <th>ID</th>
        <th>国家(地区)名</th>
        <th>国家(地区)代码</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user:${pageInfo.list}">
        　　　　　　　　　　　　<td th:text="${user.name}"></td>
        <td>${user.age}</td>
        <td>${user.id}</td>
        <td style="text-align:center;">[<a
                href="#">修改</a>] -
            [<a href="#">删除</a>]
        </td>
    </tr>

    </tbody>
</table>
<table class="gridtable" style="width:100%;text-align: center;">
    <tr>
        <!--<#if pageInfo.hasPreviousPage>-->
            <td>
                <a href="#" th:href="@{countries?page=1&(rows=${pageInfo.pageSize})}">首页</a>
            </td>
            <td>
                <a href="#" th:href="@{countries?(page=${pageInfo.prePage})&(rows=${pageInfo.pageSize})}">前一页</a>
            </td>
        <!--</#if>-->
        <!--<#list pageInfo.navigatepageNums as nav>-->
            <!--<#if nav == pageInfo.pageNum>-->
                <!--<td style="font-weight: bold;">${nav}</td>-->
            <!--</#if>-->
            <!--<#if nav != pageInfo.pageNum>-->
                <!--<td>-->
                    <!--<a href="${request.contextPath}/countries?page=${nav}&rows=${pageInfo.pageSize}">${nav}</a>-->
                <!--</td>-->
            <!--</#if>-->
        <!--</#list>-->
        <!--<#if pageInfo.hasNextPage>-->
            <!--<td>-->
                <!--<a href="${request.contextPath}/countries?page=${pageInfo.nextPage}&rows=${pageInfo.pageSize}">下一页</a>-->
            <!--</td>-->
            <!--<td>-->
                <!--<a href="${request.contextPath}/countries?page=${pageInfo.pages}&rows=${pageInfo.pageSize}">尾页</a>-->
            <!--</td>-->
        <!--</#if>-->
    </tr>
</table>

</body>
</html>